*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-image: url("../imgs/1.png");
    background-size: cover;
    overflow: hidden;
    padding-top: 50px;

}
.main{
    
}

.menu{
    /*width: 100%;
    height: 40px;*/
    justify-content: right;
   
}
.menu img{
    width: 40px;
    height: 40px;
    margin-right: 25px;
    margin-top: 15px;
}
main{
    display: flex;
    width: 65vw;
    height: 60vh;
    background-color:white;
    justify-content: center;
    margin-left: 300px;
    margin-top: 70px;
    justify-content: space-between;
}
.maind{
    height: 100%;
    width: 60%;
    background-color:rgb(255, 153, 0);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 30px;
    padding: 0;
}
.logog{
    width: 483px;
    height: 174px;
    padding-left: 90px;
    padding-top: 70px;
    margin-bottom: px;
    padding-right: 80px;
}
.logog img{
  
}
.maind{
    padding:0 ;
}
.text{
    width: 80%;
    height: 80%;
    padding-left: 100px;
    color: white;
}
.lp{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700 ;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-left: 3px;
}
form{

}
.maini input[type="password"]{
    width: 80%;
    padding-right: 10px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius:25px;
    margin-left: 20px;
    background-color: bisque;
    margin-left: 30px;
}
.maini input[type="text"]{
    width: 80%;
    padding-right: 10px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 25px;
    margin-left: 20px;
    background-color: bisque;
    margin-left: 30px;
}
.label1{
    margin: 35px;
}
.label2{
    margin: 35px;
}
.btnn{
    margin-top: 10px;
    width: 80%;
    padding-right: 10px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 25px;
    margin-left: 30px;
    background-color:orange;
    border-color: orange;
    
}
.btnn{
    color: white;
}
.no{
    margin-left: 25px;
}
.crear{
   
}
.abajo{
    display: flex;
    justify-content: stretch;
}
.menu1{
    background-image:url('menu');
}
.ult{
    display: flex;
    justify-content:space-between 15px ;
    margin-left: 35px;
}

