body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFC289;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombra */
  }
 
  .icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    animation: rotate-icon 3s infinite ease-in-out;
  }
 
  .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
 
  p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
  }
 
  @keyframes rotate-icon {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg); /* Llegamos a 180° */
    }
    50% {
      transform: rotate(180deg); /* Se mantiene en 180° */
    }
    75% {
      transform: rotate(0deg); /* Regresa a 0° */
    }
    100% {
      transform: rotate(0deg); /* Se mantiene en 0° */
    }
  }
 
 
